body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #f4f4f4;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
