.uiHover {
  width: 70px;
  min-height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 102;
}

.textChatUi {
  position: absolute;
  display: flex;

  bottom: 8px;
  left: 0px;
  width: 100%;
  max-width: 500px;
  flex-direction: row;
  align-items: flex-end;
}

.textChat {
  z-index: -1;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 60px;

  max-height: 500px;

  color: #ffffff;
  padding: 7px;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0;
  transform: translateX(-100%);
  transition:
    opacity 0.25s ease-in-out,
    transform 0.2s ease-in-out;
}

.fadeIn {
  transform: translateX(0%);
  opacity: 1;
}

.fadeOut {
  transform: translateX(calc(-100% - 72px));
  opacity: 0.6;
}

.controls {
  position: absolute;
  right: 0px;
  top: 2px;
}

.openTab {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: absolute;
  bottom: 12px;
  left: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.21);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  z-index: 102;
}

.openTab img {
  filter: invert(60%);
  width: 35px;
  height: 35px;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 3px;
  left: 4px;
  transform: scale(0.7);
}

.stickyButton {
  z-index: 103;
  position: absolute;

  left: 42px;
  bottom: 42px;

  width: 23px;
  height: 22px;

  background-color: rgba(0, 0, 0, 0.8);
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: border 0.2s ease-in-out;
  cursor: pointer;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 1;
  transition: opacity 0.3s ease;
}

.stickyButtonFadeOut {
  z-index: 103;
  position: absolute;

  left: 42px;
  bottom: 42px;

  width: 23px;
  height: 22px;

  background-color: rgba(0, 0, 0, 0.8);
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: border 0.2s ease-in-out;
  cursor: pointer;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.stickyButtonFadeOut img {
  width: 23px;
  height: 22px;
  position: relative;
  top: 1px;
  left: 0px;
  filter: invert(0%);
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
}

.stickyButtonEnabled {
  z-index: 103;
  position: absolute;

  left: 42px;
  bottom: 42px;

  width: 23px;
  height: 22px;

  background-color: rgba(0, 0, 0, 0.9);
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid rgba(21, 250, 21, 0.5);
  transition: border 0.2s ease-in-out;
  cursor: pointer;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stickyButton:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.stickyButtonEnabled:hover {
  border: 1px solid rgba(55, 255, 55, 1);
}

.stickyButton img {
  width: 23px;
  height: 22px;
  position: relative;
  top: 1px;
  left: 0px;
  filter: invert(50%);
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
}

.stickyButtonEnabled img {
  width: 23px;
  height: 22px;
  position: relative;
  top: 1px;
  left: 0px;
  filter: invert(50%);
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
}

.stickyButton:hover img {
  filter: invert(70%);
  transform: scale(0.8);
}

.stickyButtonEnabled:hover img {
  filter: invert(70%);
  transform: scale(0.8);
}

.controls .closeButton {
  font-family: "arial black";
  font-weight: 900;
  color: #aaaaaa;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 25px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.9);
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}

.closeButton:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.messagesWrapper {
  position: relative;
  max-height: 450px;
  direction: rtl;
}
