.menuButton {
  width: 70px;
  min-height: 70px;
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 102;
  user-select: none;
}

.input {
  font-family: 'Helvetica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 8px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
}

.closeButton {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "arial black";
  color: #ffffff90;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  position: fixed;
  top: 12px;
  right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.21);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.openTab {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: fixed;
  top: 12px;
  right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.21);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.openTab img {
  filter: invert(60%);
  width: 35px;
  height: 35px;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 3px;
  left: 4px;
  transform: scale(0.7);
}

.avatarSelectionContainer {
  position: fixed;
  top: 11px;
  right: 60px;
  width: 30%;
  min-width: 290px;
  max-width: 720px;
  max-height: calc(100vh - 22px);
  background: #000000b3;
  border-radius: 8px;
  font-family: "Helvetica", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: 103;
  user-select: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.avatarSelectionContainer::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.avatarSelectionContainer::-webkit-scrollbar-thumb {
  margin: 4px;
  border-radius: 5px;
  background-color: #ffffff90;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.avatarSelectionSection{
    padding: 10px;
}

.avatarSelectionUi {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 320px;
  padding: 10px;
  display: flex;
  gap: 4%;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
}

.avatarSelectionUi::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.avatarSelectionUi::-webkit-scrollbar-thumb {
  margin: 4px;
  border-radius: 5px;
  background-color: #ffffff90;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.avatarSelectionUiHeader {
  color: white;
  text-align: center;
  position: relative;
}

.avatarSelectionUiCloseButton {
  position: absolute;
  right: 20px;
  top: 20px;
}

.avatarSelectionUiAvatar {
  flex: 0 0 22%;
  color: white;
  text-align: center;
  cursor: pointer;
  max-width: 22%;
}

.avatarSelectionUiAvatarImgContainer {
  position: relative;
}

.avatarSelectionNoImage {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 100%;
  filter: invert(60%);
}

.avatarSelectionNoImage img {
  width: 50%;
}

.avatarSelectionUiAvatar p {
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.tooltipText {
  position: absolute;
  transform: translate(-50%, -100%);
  pointer-events: none;
  z-index: 2;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  opacity: 0;
  transition: opacity 0.2s;
  visibility: hidden;
}

.avatarSelectionUiAvatar p:hover + .tooltipText {
  opacity: 1;
  visibility: visible;
  transition-delay: 1s;
}

.avatarSelectionUiAvatarImgContainer .avatarSelectionUiAvatarImage {
  aspect-ratio: 1;
  width: 100%;
}

.selectedPill {
  background-color: #117c11;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  padding: 4px;
}

.avatarSelectionUiAvatarImgContainer .selectedPill {
  position: absolute;
  z-index: 2;
  bottom: 28px;
  right: 2px;
}

.avatarSelectionUiAvatar img:hover {
  opacity: 0.7;
}

.customAvatarSection {
  justify-content: center;
  padding: 10px;
  color: white;
  position: relative;
}

.customAvatarSection label {
  font-size: 16px;
  margin-right: 8px;
}

.customAvatarSection input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent; /* this is needed for iOS. Otherwise the background just becomes black. */
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  border-radius: 100%;
  vertical-align: text-bottom;
  position: relative;
  margin-right: 4px;

  &[disabled],
  &[aria-disabled=true] {
    opacity: .4;
  }

  &::before {
    content: '';
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    top: 0;
    height: 0;
    width: 0;
  }

  &:focus {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline-offset: 2px;
  }

  &:checked::before {
    border: 5px solid transparent;
    border-radius: 100%;
    outline-offset: -6px;
    background: white;
  }
}

.customAvatarInputSection {
  margin-top: 10px;
  display: flex;
}

.setButton {
  width: 60px;
  border-radius: 4px;
  border: 0;
  color: white;
  background-color: #ffffff90;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  display: block;
}

.setButton[disabled] {
  background-color: #ffffff50;
}

.sectionHeading {
  font-size: 16px;
  padding: 5px;
  padding-bottom: 10px;
  font-weight: bold;
  color: white;
}

.customAvatarSection .selectedPill {
  position: relative;
  top: -2px;
}

.customAvatarSection hr {
  width: 80%;
}

.displayNameSection {
  justify-content: center;
  color: white;
  position: relative;
  padding: 10px;
}

.displayNameInputSection {
  display: flex;
}
