.menuButton {
  width: 70px;
  min-height: 70px;
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 102;
  user-select: none;
}

.openTab {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: fixed;
  top: 12px;
  right: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.21);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.openTab img {
  filter: invert(60%);
  width: 35px;
  height: 35px;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 3px;
  left: 4px;
  transform: scale(0.7);
}

.avatarSelectionContainer {
  position: fixed;
  top: 11px;
  right: 60px;
  width: 30%;
  max-width: 720px;
  padding: 8px;
  background: #000000b3;
  border-radius: 8px;
  font-family: "Helvetica", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: 103;
  user-select: none;
  padding-bottom: 20px;
}

.avatarSelectionUi {
  padding-right: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 630px;
}

.avatarSelectionUi::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.avatarSelectionUi::-webkit-scrollbar-thumb {
  margin: 4px;
  border-radius: 5px;
  background-color: #ffffff90;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.closeButton {
  font-family: "arial black";
  background: #000000b3;
  color: #ffffff90;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: fixed;
  top: 12px;
  right: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.21);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.avatarSelectionUiHeader {
  color: #ffffff;
  text-align: center;
  position: relative;
}

.avatarSelectionUiHeader h2 {
  font-size: 20px;
}

.avatarSelectionUiCloseButton {
  position: absolute;
  right: 20px;
  top: 20px;
}

.avatarSelectionUiContent {
  padding: 10px;
  margin-top: 20px;
  display: flex;
  gap: 4%;
  flex-wrap: wrap;
  text-overflow: ellipsis;
}

.avatarSelectionUiAvatar {
  flex: 0 0 22%;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  max-width: 22%;
}

.avatarSelectionUiAvatarImgContainer {
  position: relative;
}

.avatarSelectionUiAvatar p {
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.tooltipText {
  position: absolute;
  transform: translate(-50%, -25%);
  z-index: 2;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  opacity: 0;
  transition: opacity 0.2s;
  visibility: hidden;
}

.avatarSelectionUiAvatar p:hover + .tooltipText {
  opacity: 1;
  visibility: visible;
  transition-delay: 1s;
}

.avatarSelectionUiAvatar img {
  aspect-ratio: 1;
  width: 100%;
}

.selectedPill {
  background-color: #00ff00;
  border-radius: 8px;
  height: 20px;
  color: black;
  padding: 2px 6px;
}

.avatarSelectionUiAvatarImgContainer .selectedPill {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  right: 2px;
}

.avatarSelectionUiAvatar img:hover {
  opacity: 0.7;
}

.customAvatarSection {
  justify-content: center;
  margin-top: 20px;
  color: white;
  position: relative;
}

.customAvatarSection h2 {
  text-align: center;
  font-size: 20px;
}

.customAvatarSection label {
  font-size: 16px;
  margin-right: 8px;
}

.customAvatarSection input[type="radio"] {
  transform: scale(1.3);
  margin-right: 4px;
}

.customAvatarInputSection {
  margin-top: 10px;
  display: flex;
}

.customAvatarInput {
  font-family: "Helvetica", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 8px;
  color: #000000;
  display: inline-block;
  width: 40%;
  background-color: #ffffff;
}

.customAvatarInputSection button {
  width: 60px;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  background-color: #ffffff90;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  display: block;
}

.customAvatarInputSection button[disabled] {
  background-color: #ffffff50;
}

.sectionHeading {
  font-size: 19px;
}

.customAvatarSection .selectedPill {
  position: relative;
  top: -2px;
}

.customAvatarSection hr {
  width: 80%;
}