.textChat {
  z-index: -1;
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  top: 12px;
  left: 12px;
  width: 400px;
  min-width: 400px;

  height: 50%;
  min-height: 50%;

  color: #ffffff;
  background-color: rgba(7, 7, 7, 0.85);
  padding: 7px;
  border-radius: 7px 14px 0px 7px;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.25s ease-in-out, transform 0.2s ease-in-out;
}

.fadeIn {
  transform: translateX(0%);
  opacity: 1;
}

.fadeOut {
  transform: translateX(calc(-100% - 12px));
  opacity: 0.5;
}

.controls {
  position: absolute;
  right: 0px;
  top: 2px;
}

.controls .openTab {
  background-color: rgba(7, 7, 7, 0.85);
  border-radius: 0 7px 7px 0;
  width: 23px;
  height: 51px;
  position: relative;
  top: calc(50vh - 39px);
  left: 23px;
}

.controls .openTab img {
  filter: invert(50%);
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 10px;
  left: -5px;
  transform: scale(0.7);
}

.controls .stickyButton {
  position: absolute;
  top: 3px;
  right: 32px;
  width: 25px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.9);
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}

.controls .stickyButton:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.controls .stickyButtonEnabled {
  position: absolute;
  top: 3px;
  right: 32px;
  width: 25px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.9);
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid rgba(21, 210, 21, 0.9);
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}

.controls .stickyButtonEnabled:hover {
  border: 1px solid rgba(55, 255, 55, 1);
}

.controls .stickyButton img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 1px;
  left: 0px;
  filter: invert(50%);
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
}

.controls .stickyButton:hover img {
  filter: invert(70%);
  transform: scale(0.8);
}

.controls .stickyButtonEnabled img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 1px;
  left: 0px;
  filter: invert(50%);
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
}

.controls .stickyButtonEnabled:hover img {
  filter: invert(70%);
  transform: scale(0.8);
}

.controls .closeButton {
  font-family: "arial black";
  font-weight: 900;
  color: #aaaaaa;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 25px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.9);
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}

.closeButton:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
