@font-face {
  font-family: "OpenSans-Regular";
  src: url("OpenSans-Regular.ttf");
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.inputWrapper input {
  /* backdrop-filter: blur(12px); */
  background-color: rgba(0, 0, 0, 0.7);
}

.chatInput {
  font-family: 'OpenSans-Regular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 8px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}

.sendButton {
  width: 40px;
  height: 38px;
  border: none;
  border-radius: 25%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.21);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendButton .svgIcon img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 1px;
  left: -1px;
  filter: invert(50%);
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
}

.sendButton .svgIcon:hover img {
  filter: invert(70%);
  transform: scale(0.8);
}
