@font-face {
  font-family: "OpenSans-Regular";
  src: url("OpenSans-Regular.ttf");
}

.messageContainer {
  font-family: 'OpenSans-Regular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 7px;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 9px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  direction: ltr;
  margin: 12px auto 12px 2px;
  width: fit-content;
  margin-right: auto;
}

.userName {
  color: #cccccc;
}
