.voiceChat {
  position: fixed;
  bottom: 65px;
  left: 12px;
}

.connected {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: fixed;
  bottom: 65px;
  left: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.21);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  z-index: 102;
}

.connected img {
  filter: invert(60%);
  width: 35px;
  height: 35px;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 3px;
  left: 4px;
  transform: scale(0.7);
}

.speaking {
  background-color: rgba(30, 70, 30, 0.8);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: fixed;
  bottom: 65px;
  left: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 250, 0, 0.8);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  z-index: 102;
}

.speaking img {
  filter: invert(100%);
  width: 35px;
  height: 35px;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 3px;
  left: 4px;
  transform: scale(0.7);
}

.unavailable {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: fixed;
  bottom: 65px;
  left: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.21);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: not-allowed;
  z-index: 102;
}

.unavailable img {
  filter: invert(20%);
  width: 35px;
  height: 35px;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 3px;
  left: 4px;
  transform: scale(0.7);
}

.voiceParticipants {
  font-family: monospace;
  z-index: 104;
  color: white;
  position: absolute;

  left: 30px;
  bottom: 30px;

  width: 23px;
  height: 22px;

  background-color: rgba(0, 0, 0, 0.8);
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: border 0.2s ease-in-out;
  cursor: pointer;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.voiceParticipantsVisible {
  font-family: monospace;
  z-index: 104;
  color: white;
  position: absolute;

  left: 30px;
  bottom: 30px;

  width: 23px;
  height: 22px;

  background-color: rgba(0, 0, 0, 0.8);
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid green;
  transition: border 0.2s ease-in-out;
  cursor: pointer;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 1;
  transition: opacity 0.3s ease;
}

.tooltip {
  visibility: hidden;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  font-size: 14px;
  font-weight: 900;
  text-shadow: 3px 3px 3px #000;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltipVisible {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  width: 300px;
  padding: 12px 30px;
  position: fixed;
  top: 12px;
  left: 12px;
  border-radius: 7px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9);
}

.modal h3 {
  margin: 12px 0px;
}

.inputWrapper {
  width: 100%;
  margin-bottom: 21px;
}

.inputWrapper input {
  width: 75%;
  font-size: 15px;
}

.inputWrapper button {
  width: 20%;
  padding: 2px;
  top: -1px;
  margin-left: 3px;
}
