.messageContainer {
  font-family: 'Helvetica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 7px;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 9px;
  direction: ltr;
  margin: 12px auto 12px 2px;
  width: fit-content;
  margin-right: auto;
  word-break: break-word;
}

.userName {
  color: #cccccc;
}
