:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: #121212;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* canvas {
  position: fixed;
  width: calc(80vw - 210px) !important;
  height: calc(80vh - 120px) !important;
  left: calc(10vw + 210px) !important;
  top: calc(10vh + 20px) !important;
  border-radius: 12px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 10;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.avatar-ui-component {
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  color: white;
  z-index: 2;
}

.parts-selector-component {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.left-thumbnails {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 180px;
  height: calc(80vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

img {
  width: 150px;
  height: 150px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.img:hover {
  transform: scale(1.1);
}

.avatar-canvas-container {
  width: inherit;
  height: inherit;
}

canvas {
  position: relative;
  width: calc(100% - 210px) !important;
  height: calc(100% - 120px) !important;
  left: 210px;
  top: 21px;
  border-radius: 12px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.avatar-ui-error {
  position: relative;
  top: 12px;
  left: 12px;
  z-index: 3;
  color: red;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 12px;
  border-radius: 7px;
}

.avatar-ui-error .error {
  font-weight: 900;
  margin-right: 12px;
}

.avatar-visualizer-component {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
}
