.messagesContainer {
  overflow-y: auto;
  z-index: 1000;
  bottom: 0px;
  left: -1px;
  direction: rtl;
  max-height: inherit;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.messagesContainer::-webkit-scrollbar {
  width: 4;
  height: 0;
  display: none;
}
